.nav {
  padding: 30px 0;
  margin-bottom: 80px;
}
.nav a {
  text-decoration: none;
  color: inherit;
}
.nav .wrap {
  display: flex;
}
.nav .title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: auto;
}
.nav .title h1 {
  font-size: 1.2em;
  color: var(--heading-color);
}
.nav .title .logo {
  width: 40px;
  height: 40px;
  filter: invert(25%);
}
.nav .options {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav .MuiButton-root {
  color: var(--heading-color);
}